{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <a class="btn btn-primary" href="{% url 'create' %}"><span class="glyphicon glyphicon-search"></span>新規作成</a>
    <a class="btn btn-primary" href="{% url 'find' %}"><span class="glyphicon glyphicon-search"></span>検索</a>
    <p class="h5 mt-4">{{message|safe}}</p>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="click">
    </form>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>GENDER</th>
            <th>MAIL</th>
            <th>AGE</th>
            <th>BIRTHDAY</th>
            <th>ユーザー編集</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{% if item.gender == False %}男性{% endif %}
                {% if item.gender == True %}女性{% endif %}
            </td>
            <td>{{item.mail}}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.birthday }}</td>
            <td><a href="{% url 'edit' item.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    <ul class="pagination">
        {% if data.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{%url 'index' %}">&laquo; first</a>
        </li>
        <li class="page-link">
            <a class="page-link" href="{%url 'index' %}{{data.previos_page_number}}">&laquo; prev</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link">&laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link">&laquo; prev</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a>
        </li>
        {% if data.has_next %}
        <li class="page-item">
            <a class="page-link" href="{% url 'index' %}{{data.next_page_number}}">next &raquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{% url 'index' %}{{data.paginator.num_pages}}">last &raquo;</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link">next &raquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link">last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</body>

</html>